# Excloure del repositori
# Fitxers i directoris del Maven
target/
dependency-reduced-pom.xml
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
## Preexistents dins el projecte
/proves.txt
/validatetester/compil.bat
/afirmacxf/deps.txt
/afirmacxf/config.properties
/afirmacxf/test.log
/afirmacxf-jboss7/config.properties
/afirmacxf-jboss7/config.properties.sample
/validatetester/deps.txt
/certificats/Kit-de-Certificados-de-Prueba-v9-3.zip
/certificats/test.properties
/certificats/CAIB
/certificats/SIA/CertificatSIA_CMN_partpublica.cer
/certificats/SIA/MiguelAngelBenito.cer
/results/AfirmaCxfCertificatePlugin/299_anadal_empleatpublic.cer.xml
/results/FakeCertificatePlugin/299_anadal_empleatpublic.cer.xml
/results/expected/299_anadal_empleatpublic.cer.xml
/results/AfirmaCxfCertificatePlugin/301_CertificatSIA_CMN_partpublica.cer.xml
/results/FakeCertificatePlugin/300_MiguelAngelBenito.cer.xml
/results/FakeCertificatePlugin/301_CertificatSIA_CMN_partpublica.cer.xml
/results/expected/301_CertificatSIA_CMN_partpublica.cer.xml
/fake/config.properties
