# Excloure del repositori
# Fitxers i directoris del Maven
target/
dependency-reduced-pom.xml
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
#
#
# Fitxers necessaris per test
/afirmacxf/config.properties
/certificats/test.properties
