
tests=1

# Tots els certificats
#tests=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,

1=../certificats/ANF/ANF Representante RLAUS Software.cer
2=../certificats/ANF/ANF Representante RLPJ.cer
3=../certificats/ANF/ANF Representante RLSPJ.cer
4=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm.crt
5=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm.pem
6=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm_expired.crt
7=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm_expired.pem
8=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm_revoked.crt
9=../certificats/FIRMA PROFESIONAL/00_colegiado-hsm_revoked.pem
10=../certificats/FIRMA PROFESIONAL/00_colegiado-hw.crt
11=../certificats/FIRMA PROFESIONAL/00_colegiado-hw.pem
12=../certificats/FIRMA PROFESIONAL/00_colegiado-hw_expired.crt
13=../certificats/FIRMA PROFESIONAL/00_colegiado-hw_expired.pem
14=../certificats/FIRMA PROFESIONAL/00_colegiado-hw_revoked.crt
15=../certificats/FIRMA PROFESIONAL/00_colegiado-hw_revoked.pem
16=../certificats/FIRMA PROFESIONAL/00_colegiado-sw.crt
17=../certificats/FIRMA PROFESIONAL/00_colegiado-sw.pem
18=../certificats/FIRMA PROFESIONAL/00_colegiado-sw_expired.crt
19=../certificats/FIRMA PROFESIONAL/00_colegiado-sw_expired.pem
20=../certificats/FIRMA PROFESIONAL/00_colegiado-sw_revoked.crt
21=../certificats/FIRMA PROFESIONAL/00_colegiado-sw_revoked.pem
22=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm.crt
23=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm.pem
24=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm_expired.crt
25=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm_expired.pem
26=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm_revoked.crt
27=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hsm_revoked.pem
28=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw.crt
29=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw.pem
30=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw_expired.crt
31=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw_expired.pem
32=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw_revoked.crt
33=../certificats/FIRMA PROFESIONAL/00_empleado_publico-hw_revoked.pem
34=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu.crt
35=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu.pem
36=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu_expired.crt
37=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu_expired.pem
38=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu_revoked.crt
39=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw-pseu_revoked.pem
40=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw.crt
41=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw.pem
42=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw_expired.crt
43=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw_expired.pem
44=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw_revoked.crt
45=../certificats/FIRMA PROFESIONAL/00_empleado_publico-sw_revoked.pem
46=../certificats/FIRMA PROFESIONAL/00_empresa-sw.crt
47=../certificats/FIRMA PROFESIONAL/00_empresa-sw.pem
48=../certificats/FIRMA PROFESIONAL/00_empresa-sw_expired.crt
49=../certificats/FIRMA PROFESIONAL/00_empresa-sw_expired.pem
50=../certificats/FIRMA PROFESIONAL/00_empresa-sw_revoked.crt
51=../certificats/FIRMA PROFESIONAL/00_empresa-sw_revoked.pem
52=../certificats/FIRMA PROFESIONAL/00_personal-sw.crt
53=../certificats/FIRMA PROFESIONAL/00_personal-sw.pem
54=../certificats/FIRMA PROFESIONAL/00_personal-sw_expired.crt
55=../certificats/FIRMA PROFESIONAL/00_personal-sw_expired.pem
56=../certificats/FIRMA PROFESIONAL/00_personal-sw_revoked.crt
57=../certificats/FIRMA PROFESIONAL/00_personal-sw_revoked.pem
58=../certificats/FIRMA PROFESIONAL/00_privado-sw.crt
59=../certificats/FIRMA PROFESIONAL/00_privado-sw.pem
60=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj.crt
61=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj.pem
62=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj_expired.crt
63=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj_expired.pem
64=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj_revoked.crt
65=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-espj_revoked.pem
66=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario.crt
67=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario.pem
68=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario_expired.crt
69=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario_expired.pem
70=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario_revoked.crt
71=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm-voluntario_revoked.pem
72=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm.crt
73=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm.pem
74=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm_expired.crt
75=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm_expired.pem
76=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm_revoked.crt
77=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hsm_revoked.pem
78=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj.crt
79=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj.pem
80=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj_expired.crt
81=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj_expired.pem
82=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj_revoked.crt
83=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-espj_revoked.pem
84=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario.crt
85=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario.pem
86=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario_expired.crt
87=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario_expired.pem
88=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario_revoked.crt
89=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw-voluntario_revoked.pem
90=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw.crt
91=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw.pem
92=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw_expired.crt
93=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw_expired.pem
94=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw_revoked.crt
95=../certificats/FIRMA PROFESIONAL/00_representante-aeat-hw_revoked.pem
96=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj.crt
97=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj.pem
98=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj_expired.crt
99=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj_expired.pem
100=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj_revoked.crt
101=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-espj_revoked.pem
102=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario.crt
103=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario.pem
104=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario_expired.crt
105=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario_expired.pem
106=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario_revoked.crt
107=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw-voluntario_revoked.pem
108=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw.crt
109=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw.pem
110=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw_expired.crt
111=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw_expired.pem
112=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw_revoked.crt
113=../certificats/FIRMA PROFESIONAL/00_representante-aeat-sw_revoked.pem
114=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm.crt
115=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm.pem
116=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm_expired.crt
117=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm_expired.pem
118=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm_revoked.crt
119=../certificats/FIRMA PROFESIONAL/00_sello_organo-hsm_revoked.pem
120=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw.crt
121=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw.pem
122=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw_expired.crt
123=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw_expired.pem
124=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw_revoked.crt
125=../certificats/FIRMA PROFESIONAL/00_sello_organo-hw_revoked.pem
126=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw.crt
127=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw.pem
128=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw_expired.crt
129=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw_expired.pem
130=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw_revoked.crt
131=../certificats/FIRMA PROFESIONAL/00_sello_organo-sw_revoked.pem
132=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm.crt
133=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm.pem
134=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm_expired.crt
135=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm_expired.pem
136=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm_revoked.crt
137=../certificats/FIRMA PROFESIONAL/00_vinculada-hsm_revoked.pem
138=../certificats/FIRMA PROFESIONAL/00_vinculada-hw.crt
139=../certificats/FIRMA PROFESIONAL/00_vinculada-hw.pem
140=../certificats/FIRMA PROFESIONAL/00_vinculada-hw_expired.crt
141=../certificats/FIRMA PROFESIONAL/00_vinculada-hw_expired.pem
142=../certificats/FIRMA PROFESIONAL/00_vinculada-hw_revoked.crt
143=../certificats/FIRMA PROFESIONAL/00_vinculada-hw_revoked.pem
144=../certificats/FIRMA PROFESIONAL/00_vinculada-sw-smime.crt
145=../certificats/FIRMA PROFESIONAL/00_vinculada-sw-smime.pem
146=../certificats/FIRMA PROFESIONAL/00_vinculada-sw.crt
147=../certificats/FIRMA PROFESIONAL/00_vinculada-sw.pem
148=../certificats/FIRMA PROFESIONAL/00_vinculada-sw_expired.crt
149=../certificats/FIRMA PROFESIONAL/00_vinculada-sw_expired.pem
150=../certificats/FIRMA PROFESIONAL/00_vinculada-sw_revoked.crt
151=../certificats/FIRMA PROFESIONAL/00_vinculada-sw_revoked.pem
152=../certificats/FIRMA PROFESIONAL/caroot.crt
153=../certificats/FIRMA PROFESIONAL/cualificados.crt
154=../certificats/IZENPE/ciudadano_EIDAS_scard_act.cer
155=../certificats/IZENPE/ciudadano_EIDAS_scard_rev.cer
156=../certificats/IZENPE/ciudadano_preEIDAS_scard_act.cer
157=../certificats/IZENPE/ciudadano_preEIDAS_scard_rev.cer
158=../certificats/IZENPE/corporativo_act.cer
159=../certificats/IZENPE/corporativo_priv_act.cer
160=../certificats/IZENPE/corporativo_priv_reconocido_act.cer
161=../certificats/IZENPE/corporativo_priv_reconocido_rev.cer
162=../certificats/IZENPE/corporativo_priv_rev.cer
163=../certificats/IZENPE/corporativo_rev.cer
164=../certificats/IZENPE/corp_reconocido_act.cer
165=../certificats/IZENPE/corp_reconocido_rev.cer
166=../certificats/IZENPE/funcionario_EIDAS_scard_act.cer
167=../certificats/IZENPE/funcionario_EIDAS_scard_rev.cer
168=../certificats/IZENPE/funcionario_EIDAS_sw_act.cer
169=../certificats/IZENPE/funcionario_EIDAS_sw_rev.cer
170=../certificats/IZENPE/funcionario_preEIDAS_act.cer
171=../certificats/IZENPE/funcionario_preEIDAS_rev.cer
172=../certificats/IZENPE/profesional_scard_act.cer
173=../certificats/IZENPE/profesional_scard_rev.cer
174=../certificats/IZENPE/profesional_sw_act.cer
175=../certificats/IZENPE/profesional_sw_rev.cer
176=../certificats/IZENPE/representante_scard_act.cer
177=../certificats/IZENPE/representante_scard_rev.cer
178=../certificats/IZENPE/representante_spj_scard_act.cer
179=../certificats/IZENPE/representante_spj_scard_rev.cer
180=../certificats/IZENPE/representante_spj_sw_act.cer
181=../certificats/IZENPE/representante_spj_sw_rev.cer
182=../certificats/IZENPE/representante_sw_act.cer
183=../certificats/IZENPE/representante_sw_rev.cer
184=../certificats/IZENPE/sello_administrativo_medio_act.cer
185=../certificats/IZENPE/sello_administrativo_medio_rev.cer
186=../certificats/IZENPE/sello_entidad_act.cer
187=../certificats/IZENPE/sello_entidad_rev.cer
